/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1240px) {
	.navbar{
		margin-left: 70px;
	}
	.sec-footer .feedback .img-feedback .content h2 {
		font-size: 21px;
		margin-bottom: 5px;
	}
	.sec-footer .feedback .img-feedback .content p {
		font-size: 15px;
	}

}
@media only screen and (max-width : 1140px) {
	.img{
		margin-left: 40px;
	}
	.navbar{
		margin-left: 30px;
	}
	a.button{
		margin-right: 50px;
	}
	.sec-footer .feedback .img-feedback .content h2 {
		line-height: 15px;
	}

	.sec-footer .feedback .img-feedback .content h2 {
		font-size: 16px;
		margin: 8px auto;
	}
	.sec-footer .feedback .img-feedback .content p {
		margin: 10px auto;
		font-size: 14px;
		line-height: 18px;
	}
	.sec-footer .feedback .img-feedback img{
		height: 120px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.navbar ul li {
		margin-right: 8px;

	}
	.navbar{
		margin-left: 15px;
	}
	.button_head a.button{
		margin-right: 15px;
	}
	.img{
		margin-left: 10px;
	}
	.img span {
		margin-left: 7px;
	}
	a.button{
		margin-right: 80px;
	}
	div.page div.img-adv {
		display: inline-block;
		width: 20%;
		padding-right: 10px;
	}
	div.page div.content {

		width: 80%;
		padding-left: 10px;
	}
	.featured .content h2 {
		font-size: 23px;
	}
	.featured .content p {
		font-size: 15px;
	}

	.sec-footer .feedback  {
		margin-bottom: 100px; 
	}
	.sec-footer .feedback .img-feedback .content p {
		font-size: 14px;
		line-height: 18px;
	}

}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {


	.img{
		margin-left: 10px;
	}
	.button_head a.button{
		margin-right: 10px;
	}
	.navbar{
		display: none;
	}
	.img span {
		margin-left: 5px;
	}
	.img .logo-name {
		margin-left: 10px;
	}
	#toggle{   display: inline-block;}
	a#toggle {
		margin-left: 0px;
	}
	ul.tabs li span {
		display: none;
	}
	ul.tabs li .num {
		margin: 0;
	}
	.advantage {
		height: 900px;
	}
	.featured {
		width: 95%;
	}
	.featured  .button_featured a.button{
		width: 140px;
	}
	a.details {
		margin-right: 20px;
		margin-top: 10px;
		float: right;
		font-size: 12px;
	}
	.progress  {
		font-size: 11.5px;
	}

	div.proj3{
		margin-bottom: 120px;
	}
	.sec-footer .feedback .img-feedback .content h2 {
		font-size: 18px;
	}
	.sec-footer .feedback .img-feedback .content p {
		font-size: 15px;
		line-height: 18px;
	}
	div.content-find .col div.content .button-find {
		display: block;
		float: none;
		margin: 0 auto;
	}

	div.page div.img-adv{
		display: none;
	}
	div.page div.content{
		width: 90%;
		display: block;
		margin: 0 auto;

		text-align: center;
	}
	span.after {
		display: inline-block;
		border-bottom: 5px solid transparent;
		border-top: 5px solid transparent;
		margin-left: 0px;
		border-left: 10px solid #99c50a;
	}

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.img .logo {
		display: none;
	}
	a.button{
		width: 90px;
	}


	.sec-footer .feedback .img-feedback .content h2 {
		font-size: 15px;
	}
	.sec-footer .feedback .img-feedback .content p {
		margin: 0;
		font-size: 14px;
		line-height: 18px;
	}
	.img-portr {
		left: 18%;
		height: 40px;
		line-height: 60px;
	}

	div.content-find .col .img-find {
		display: none;
	}
	div.content-find .col div.content {
		width: 100%;
		margin: 20px auto;
	}
	div.content-find .col div.content {
		padding-top:0;

		text-align: center;
	}
	.project{
		width: 100%;
		margin-top: 40px;

		text-align: center;
	}
	.featured  .button_featured{
		display: none;
	}
	.featured .content{
		padding-top: 20px;
		width: 100%;
		text-align: center;
	}
	.sec-footer .foot-head {
		margin-bottom: 30px;
	}
	.sec-footer .feedback .img-feedback img {
		width: 90%;
	}
	.sec-footer .feedback .img-feedback .content {
		width: 75%;
		left: 13%;
	}
	a.details {

		font-size: 16px;
	}
	span.after {
		display: inline-block;
		border-bottom: 7px solid transparent;
		border-top: 7px solid transparent;
		margin-left: 10px;
		border-left: 12px solid #99c50a;
	}
	.progress  {
		font-size: 15px;
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.img{
		margin-left: 3px;
		width: 160px;
	}
	a.button{
		width: 80px;

	}
	.img .logo-name {
		font-size: 25px;
		line-height: 43px;
	}
	.img .logo {
		display: none;
	}
	.slider a.button_slider {
		width: 225px;
	}
	.annotation .description {
		margin: 20px auto;
	}
	.annotation .inner-descr p {
		margin-top: 10px;
	}

	.sec-footer .feedback .img-feedback img {
		width: 90%;
	}

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}